In [1]:
import pandas as pd

**Read the representative data ( binned 250000)  from the high20 file output using GetRepresentative.py**

In [2]:
ref=pd.read_csv("Sample_A1.txt",delimiter="\t",dtype=str)

In [3]:
#Add Chr to all column heading
ref=ref.add_prefix('Chr')
ref["ChrBin"]=ref.ChrBin.str.replace('Bin','')

In [4]:
list1 =['Chr1', 'Chr2', 'Chr3', 'Chr4', 'Chr5', 'Chr6', 'Chr7',
       'Chr8', 'Chr9', 'Chr10', 'Chr11', 'Chr12', 'Chr13', 'Chr14', 'Chr15',
       'Chr16', 'Chr17', 'Chr18', 'Chr19', 'Chr20', 'Chr21', 'Chr22', 'ChrX']

In [5]:
#Replace 0 to 0:0 in the list of columns
for l in list1:
    ref[l]=ref[l].map(lambda x : "0;0" if x== "0" else x )

In [6]:
#Reshape
ref1=ref.melt(id_vars =['ChrBin'], value_vars =['Chr1', 'Chr2', 'Chr3', 'Chr4', 'Chr5', 'Chr6', 'Chr7',
       'Chr8', 'Chr9', 'Chr10', 'Chr11', 'Chr12', 'Chr13', 'Chr14', 'Chr15',
       'Chr16', 'Chr17', 'Chr18', 'Chr19', 'Chr20', 'Chr21', 'Chr22', 'ChrX'],  
        var_name ='Chr', value_name ='vaf')

In [7]:
ref1["ChrBin"]=ref1["ChrBin"].astype(int) #change as interger

In [8]:
ref1["End"]=ref1.ChrBin+250000  # Add end column with 250000 as starting value

In [9]:
ref1[['GermlineVaf','TumorVaf']] = ref1['vaf'].str.split(';',expand=True) # split vaf column into two columns

In [10]:
ref1["Chr"]=ref1.Chr.str.replace('Chr','') #remove chr

In [11]:
ref1=ref1.rename(columns={"Chr": "chromosome", "ChrBin": "start","End": "end"}) #rename selected columns

In [12]:
ref1.head()

,start,chromosome,vaf,end,GermlineVaf,TumorVaf
0,0,1,0.44;0.244186046512,250000,0.44,0.244186046512
1,250000,1,0;0,500000,0,0
2,500000,1,0.453488372093;0.507462686567,750000,0.453488372093,0.507462686567
3,750000,1,1.0;1.0,1000000,1.0,1.0
4,1000000,1,1.0;1.0,1250000,1.0,1.0

In [13]:
ref1.to_csv("Sample1_BAF_input.txt", header=True, index=False, sep='\t')
# This is the input for BAF plot in R script in my github folder titled "Copynumber_and_BAF_plot"